
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
  background-color: rgb(228, 228, 228);
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}



.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #000000;
    background-color: #a2a2a2;
    border-radius: 2px;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.75);
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    
}




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}


p {
    height: 200px;
    width: 500px;
    margin: 100px auto;
    position: relative;
  }
  
  img {
    height: 100px;
    position: absolute;
    left: 0;
    offset-path: path('m 0 50 q 50-30 100-30 t 100 30 100 0 100-30 100 30');
    box-shadow: 4px 4px 7px 0px rgba(0,0,0,1);
-webkit-box-shadow: 4px 4px 7px 0px rgba(0,0,0,1);
-moz-box-shadow: 4px 4px 7px 0px rgba(0,0,0,1);
    transition: transform .4s ease-out, offset-path .4s cubic-bezier(.77,-1.17,.75,.84),box-shadow .3s, z-index .3s;
    z-index: 0;
  }
  
  img:hover {
    transform: scale(3);
    /* on hover, the path gets a bit shorter & flattened & shifted to left/bottom a bit for nicer movement */
    offset-path: path('m 5 65 q 45-0 90-0 t 90 0 90 0 90-0 90 0');
    box-shadow: 3px 4px 10px #0006;
    z-index: 999;
  }
  
  /* 3 images */
  img:nth-last-child(3):first-child {
    offset-distance: 17%;
  }
  img:nth-last-child(2):nth-child(2) {
    offset-distance: 49%;
  }
  img:last-child:nth-child(3) {
    offset-distance: 81%;
  }
  
  /* 4 images */
  img:nth-last-child(4):first-child {
    offset-distance: 10%;
  }
  img:nth-last-child(3):nth-child(2) {
    offset-distance: 35%;
  }
  img:nth-last-child(2):nth-child(3) {
    offset-distance: 65%;
  }
  img:last-child:nth-child(4) {
    offset-distance: 90%;
  }
  
  /* 5 images */
  img:nth-last-child(5):first-child {
    offset-distance: 0%;
  }
  img:nth-last-child(4):nth-child(2) {
    offset-distance: 25%;
  }
  img:nth-last-child(3):nth-child(3) {
    offset-distance: 51%;
  }
  img:nth-last-child(2):nth-child(4) {
    offset-distance: 75%;
  }
  img:last-child:nth-child(5) {
    offset-distance: 100%;
  }